@import "variable";
@import "nav";

.left{
    width: 50%;
    height: 90vh;
    background-color: green;
    margin-top: 10px;
    display: inline-block;
   
}
.right{
    width: 50%;
    height: 90vh;
    background-color: yellowgreen;
    display: inline-block;
}
.footer{
    background-color: black;
    height: 50px;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}